## Segment 5 - Grouping and data aggregation

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

### Grouping data by column index

In [ ]:
# from google.colab import files
# uploaded = files.upload()

data ref:https://www.rdocumentation.org/packages/datasets/versions/3.6.2/topics/mtcars

In [2]:
# cars = pd.read_csv('mtcars.csv')
#
# cars.columns = ['car_names', 'mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am', 'gear', 'carb']
# cars.head(2)

cars = pd.read_csv('./mtcars.csv')
# change  name, column 1 to car_names
cars.columns = ['car_names', 'mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am', 'gear', 'carb']
cars.head(2)

,car_names,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.9,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.9,2.875,17.02,0,1,4,4

In [7]:
# cars_groups = cars.groupby(cars['cyl'])
# cars_groups.mean(numeric_only=True)

cars_groups = cars.groupby('cyl').mean(numeric_only=True)
cars_groups

,mpg,disp,hp,drat,wt,qsec,vs,am,gear,carb
cyl,,,,,,,,,,
4,26.663636,105.136364,82.636364,4.070909,2.285727,19.137273,0.909091,0.727273,4.090909,1.545455
6,19.742857,183.314286,122.285714,3.585714,3.117143,17.977143,0.571429,0.428571,3.857143,3.428571
8,15.100000,353.100000,209.214286,3.229286,3.999214,16.772143,0.000000,0.142857,3.285714,3.500000

In [8]:
cars.describe()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.0000
mean,20.090625,6.187500,230.721875,146.687500,3.596563,3.217250,17.848750,0.437500,0.406250,3.687500,2.8125
std,6.026948,1.785922,123.938694,68.562868,0.534679,0.978457,1.786943,0.504016,0.498991,0.737804,1.6152
min,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.0000
25%,15.425000,4.000000,120.825000,96.500000,3.080000,2.581250,16.892500,0.000000,0.000000,3.000000,2.0000
50%,19.200000,6.000000,196.300000,123.000000,3.695000,3.325000,17.710000,0.000000,0.000000,4.000000,2.0000
75%,22.800000,8.000000,326.000000,180.000000,3.920000,3.610000,18.900000,1.000000,1.000000,4.000000,4.0000
max,33.900000,8.000000,472.000000,335.000000,4.930000,5.424000,22.900000,1.000000,1.000000,5.000000,8.0000

In [9]:
cars_groups.describe()

,mpg,disp,hp,drat,wt,qsec,vs,am,gear,carb
count,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000
mean,20.502165,213.850216,138.045455,3.628636,3.134028,17.962186,0.493506,0.432900,3.744589,2.824675
std,5.819092,126.770752,64.743877,0.422450,0.856868,1.182636,0.459527,0.292232,0.414229,1.108413
min,15.100000,105.136364,82.636364,3.229286,2.285727,16.772143,0.000000,0.142857,3.285714,1.545455
25%,17.421429,144.225325,102.461039,3.407500,2.701435,17.374643,0.285714,0.285714,3.571429,2.487013
50%,19.742857,183.314286,122.285714,3.585714,3.117143,17.977143,0.571429,0.428571,3.857143,3.428571
75%,23.203247,268.207143,165.750000,3.828312,3.558179,18.557208,0.740260,0.577922,3.974026,3.464286
max,26.663636,353.100000,209.214286,4.070909,3.999214,19.137273,0.909091,0.727273,4.090909,3.500000

# you can try to use other columns like vs, am, gear, carb
# instead of .mean(), what are the other options are available?

cars_groups.mean()

cars_groups.max()

cars_groups.count() #total no. of observation

cars_groups.size()

cars_groups.nth(4) #only nth row observation

cars_groups.sum()

cars_groups.std()


try this: cars_groups.describe()

---

In [17]:
# max & min  value
cars_groups.max()
cars_groups.min()
cars_groups.count()
cars_groups.std()

mpg       5.819092
disp    126.770752
hp       64.743877
drat      0.422450
wt        0.856868
qsec      1.182636
vs        0.459527
am        0.292232
gear      0.414229
carb      1.108413
dtype: float64

# Class exercise:
Load the dataset sales_data.csv into a DataFrame.

Group the data by Region and calculate the total Sales for each region.

Group by Region and Product, then calculate the total Sales and average Units.

Group by Product and calculate multiple aggregations for Sales and Units

In [28]:
sales = pd.read_csv('./sales_data.csv')
sales.head()

         Date Region    Product  Sales  Units
0  2023-01-05   East  Product A    150     10
1  2023-01-07   West  Product B    200     15
2  2023-01-07   East  Product A    300     25
3  2023-02-02  North  Product C    120     12
4  2023-02-02  South  Product B    400     20

In [31]:
sales_region = sales.groupby('Region').sum(numeric_only=True)
sales_region

        Sales  Units
Region
East     1400    106
North     440     44
South     800     40
West      400     30

In [37]:
sales_product = sales.groupby('Product')
sales_product_sum = sales_product.sum(numeric_only=True)
sales_product_sum

           Sales  Units
Product
Product A   1400    106
Product B   1200     70
Product C    440     44

In [40]:
sales_product_avg = sales_product.mean(numeric_only=True)
sales_product_avg

                Sales      Units
Product
Product A  233.333333  17.666667
Product B  300.000000  17.500000
Product C  110.000000  11.000000

In [41]:
sales_product_std = sales_product.std(numeric_only=True)
sales_product_std

                Sales     Units
Product
Product A   68.313005  6.713171
Product B  115.470054  2.886751
Product C   11.547005  1.154701