In [1]:
import pandas as pd
import numpy as np

In [3]:
# sales = pd.read_csv('C:\DHRUV\IMPORTANT\SASKATCHWEN\SEM-1\DATASET\sales_data.csv')
sales = pd.read_csv('./sales_data.csv')

In [4]:
sales.head()

         Date Region    Product  Sales  Units
0  2023-01-05   East  Product A    150     10
1  2023-01-07   West  Product B    200     15
2  2023-01-07   East  Product A    300     25
3  2023-02-02  North  Product C    120     12
4  2023-02-02  South  Product B    400     20

In [5]:
sales.tail()

          Date Region    Product  Sales  Units
9   2023-05-05   East  Product A    300     25
10  2023-05-22  North  Product C    120     12
11  2023-06-08  South  Product B    400     20
12  2023-06-25  North  Product C    100     10
13  2023-07-12   East  Product A    250     18

In [9]:
# Group the data by Region and calculate the total Sales for each region
total_sales_by_regin = sales.groupby('Region')['Sales'].sum().reset_index()
print("Total Sales by Region:\n", total_sales_by_regin)

Total Sales by Region:
   Region  Sales
0   East   1400
1  North    440
2  South    800
3   West    400

In [10]:
# Group by Region and Product, then calculate the total Sales and average Units
total_sales_avg_units_by_region_product = sales.groupby(['Region','Product']).agg({'Sales':'sum',"Units":'mean'}).reset_index()
print("\nTotal Sales and Average Units by Region and Product:\n", total_sales_avg_units_by_region_product)

Total Sales and Average Units by Region and Product:
   Region    Product  Sales      Units
0   East  Product A   1400  17.666667
1  North  Product C    440  11.000000
2  South  Product B    800  20.000000
3   West  Product B    400  15.000000

In [12]:
# Group by Product and calculate multiple aggregations for Sales and Units
aggregations_by_product = sales.groupby('Product').agg({
    'Sales':['sum','mean','max'],
    'Units':['sum','mean','max']
}).reset_index()
aggregations_by_product

     Product Sales                  Units
               sum        mean  max   sum       mean max
0  Product A  1400  233.333333  300   106  17.666667  25
1  Product B  1200  300.000000  400    70  17.500000  20
2  Product C   440  110.000000  120    44  11.000000  12